includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
    
    # Type coverage
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    
    # Strict rules
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingClosureNativeReturnTypehintRule: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    
    # Compatibility
    checkPhpDocMissingParamType: true
    checkPhpDocMethodSignatures: true
    
    # Ignore Laravel magic
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
        - '#Access to an undefined property Illuminate\\.*#'
    
    # Bootstrap
    bootstrapFiles:
        - vendor/autoload.php
